.pdfMergerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.pdfMergerBox h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 40px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(251 237 0);
}

.pdfMergerBox .pdfMergerBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(5px);
  padding: 60px;
}

.pdfMergerBorder .pdfMergerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 40px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.pdfMergerBox .pdfMergerBorder .pdfMergerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.pdfMergerInput input[type="file"] {
  display: none;
}

.pdfMergerInput label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px);
  cursor: pointer;
  border: none;
}

.pdfMergerInput .file-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: x-small;
  letter-spacing: 1px;
}

.pdfMergerInput .pdfMergerInputBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.pdfMergerInput button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    rgb(17, 199, 245),
    rgb(245, 117, 207)
  );
  border: 1px solid white;
}

/* client/src/styles/PdfMerger.css */

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: inline-block; /* Ensure it's inline */
  margin-left: 8px; /* Add some spacing */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

button[disabled] .loader {
  display: inline-block;
}
button .loader {
  display: none;
}
